{% block content %} 

  <style>

    .axis path,
    .axis line {
      fill: none;
      stroke: #d5d5d5;
      shape-rendering: crispEdges;
    }

    .axis text {
      fill: #d5d5d5;
      font-size: 11px;
    }

    svg {
      display: block;
      margin: 0 auto;
    }

    button {
      background: #f5f5f5;
      border: 1px solid #d5d5d5;
      border-radius: 8px;
      box-shadow: none;
      color: #b51f24;
      display: block;
      line-height: 2;
      margin: 1em auto;
      padding: 0 1em;
      width: auto;
    }

    g.arc path {
      stroke-width: 2;
    }

    g.arc text {
      font-family: "ChunkFive"
    }

    g.arc:nth-child(1) path,
    .frontendconf-stack g:nth-child(1)
     {
      fill: #e1eeed;
      stroke: #c1dbd9;
    }

    g.arc:nth-child(1) text {
      fill: #a1c8c5;
    }

    g.arc:nth-child(2) path,
    .frontendconf-stack g:nth-child(2) {
      fill: #eef1f5;
      stroke: #ced6e2;
    }

    g.arc:nth-child(2) text {
      fill: #aebbcf;
    }

    g.arc:nth-child(3) path,
    .frontendconf-stack g:nth-child(3) {
      fill: #c7c7c7;
      stroke: #aeaeae;
    }

    g.arc:nth-child(3) text {
      fill: #959595;
    }

    g.arc:nth-child(4) path,
    .frontendconf-stack g:nth-child(4) {
      fill: #2a2a2a;
      stroke: #111;
    }

    g.arc:nth-child(4) text {
      fill: #d5d5d5;
    }

    g.arc:nth-child(5) path,
    .frontendconf-stack g:nth-child(5) {
      fill: #db2c32;
      stroke: #b51f24;
    }

    g.arc:nth-child(5) text {
      fill: #fff;
    }

  </style>

  <section class="container frontendconf-pie">  

    <h2>Pie Chart of Front-End Conf Times Attending</h2>
  
  </section>

  <section class="container frontendconf-stack">  

    <h2>Stack Chart of Front-End Conf Times Attending</h2>
  
  </section>

{% endblock %}

{% block scripts %}

  <script>

   var attendees = [
      {
        "attended":"first",
        "date":"May 31, 2013"
      },
      {
        "attended":"second",
        "date":"May 9, 2013"
      },
      {
        "attended":"first",
        "date":"May 9, 2013"
      },
      {
        "attended":"second",
        "date":"May 8, 2013"
      },
      {
        "attended":"second",
        "date":"Apr 25, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 25, 2013"
      },
      {
        "attended":"second",
        "date":"Apr 25, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 20, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 20, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 19, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 12, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 3, 2013"
      },
      {
        "attended":"fourth",
        "date":"Apr 2, 2013"
      },
      {
        "attended":"first",
        "date":"Apr 1, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 27, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 27, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 27, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 27, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 27, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 27, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 26, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 25, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 24, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 24, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 24, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 22, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 22, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 22, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 22, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 22, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 22, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 21, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 21, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 20, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 19, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 18, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 18, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 18, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 17, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 17, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 16, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 16, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 16, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 16, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 16, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 15, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 14, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 14, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 14, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 14, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 14, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 14, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 13, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 12, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 11, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 11, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 10, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 10, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 10, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 8, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 7, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 7, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 7, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 6, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 6, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 6, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 6, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 6, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 5, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"first",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"second",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"fourth",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"third",
        "date":"Mar 4, 2013"
      },
      {
        "attended":"all",
        "date":"Mar 3, 2013"
      }
    ];

    var attendeesSample = [
      
      [
        { x: 0, y: 0 },
        { x: 0, y: 8 },
        { x: 0, y: 3 }
      ],
      [
        { x: 0, y: 0 },
        { x: 0, y: 16 },
        { x: 0, y: 3 }
      ],
      [
        { x: 0, y: 0 },
        { x: 0, y: 14 },
        { x: 0, y: 2 }
      ],
      [
        { x: 0, y: 0 },
        { x: 0, y: 4 },
        { x: 0, y: 0 }
      ],
      [
        { x: 0, y: 1 },
        { x: 0, y: 3 },
        { x: 0, y: 5 }
      ]
    
    ];

    // Pie chart of ratio

    var attendedCount = [
      92, 53, 32, 12, 12
    ];

    var color = d3.scale.category10();

    var attendedPie = d3.layout.pie();

    var pieW = 300;
    var pieH = 300;
    var piePadding = 10;

    var outerRadius = pieW / 2;
    var innerRadius = pieW / 4.5; // Probably need a non-magic number
    var arc = d3.svg.arc()
      .innerRadius(innerRadius)
      .outerRadius(outerRadius - piePadding);

    // Create the SVG
    var pieSVG = d3.select(".frontendconf-pie")
      .append("svg")
      .attr("width", pieW)
      .attr("height", pieH);

    // Create groups
    var pieArcs = pieSVG.selectAll("g.arc")
      .data(attendedPie(attendedCount))
      .enter()
      .append("g")
      .attr("class", "arc")
      .attr("transform", "translate(" + outerRadius + ", " + outerRadius + ")");

    // Draws arcs
    pieArcs.append("path")
      .attr("fill", function(d, i) {
          return color(i);
      })
      .attr("d", arc);

    //Labels
    pieArcs.append("text")
      .attr("transform", function(d) {
        return "translate(" + arc.centroid(d) + ")";
      })
      .attr({
        "text-anchor": "middle",
        fill: "#fff"
      })
      .text(function(d) {
        return d.value;
      });

    // --------------------------------------------------- //

    // Create the stack method
    var frontendconfStack = d3.layout.stack();
    
    // Assign the data
    frontendconfStack(attendeesSample);

    // Assign base variables
    var stackH = 400;
    var stackW = 600;
    var stackPadding = 50;

    // Set up scales
    var xScale = d3.scale.ordinal()
      .domain(d3.range(attendeesSample[0].length))
      .rangeRoundBands([0, stackW], 0.05);

    var yScale = d3.scale.linear()
      .domain([0,
        d3.max(attendeesSample, function(d) {
          return d3.max(d, function(d) {
            return d.y0 + d.y;
          });
        })
      ])
      .range([0, stackH]);

    // Creates SVG
    var stackSVG = d3.select(".frontendconf-stack")
      .append("svg")
      .attr({
        height: stackH,
        width: stackW
      })

    // Create groups
    var groups = stackSVG.selectAll("g")
      .data(attendeesSample)
      .enter()
      .append("g")

    // Creates bars
    var rects = groups.selectAll("circle")
      .data(function(d) { return d; })
      .enter()
      .append("circle")
      .attr("cx", function(d, i) {
        return xScale(i);
      })
      .attr("cy", function(d) {
        return yScale(d.y0);
      })
      .attr("r", "5")
      .attr("class", "stackRect")
      .attr("width", xScale.rangeBand());


   

  </script>

{% endblock %}