{% block content %} 

  <style>

    

  </style>

  <section class="container SVG--scatterplot">  

    <h2>D3 Scale</h2>
  
    <p>Scattering and scaling</p> 

  </section>


{% endblock %}

{% block scripts %}

  <script>

    var h = 400;
    var w = 600;
    var padding = 20;
    
    // Scatterplot

    var scatterData = [
      [ 5, 20 ],
      [ 480, 90 ],
      [ 250, 50 ],
      [ 100, 33 ],
      [ 330, 93 ],
      [ 410, 12 ],
      [ 475, 44 ],
      [ 25, 67 ],
      [ 85, 21 ],
      [ 220, 88 ]
    ];

    var scatterSVG = d3.select(".SVG--scatterplot")
      .append("svg")
      .attr({
        width: w,
        height: h
      })

    var xScale = d3.scale.linear()
      .domain([0, d3.max(scatterData, function(d) { return d[0] })])
      .range([padding, w - padding]);

    var yScale = d3.scale.linear()
      .domain([0, d3.max(scatterData, function(d) { return d[1] })])
      .range([h - padding, padding]);

    scatterSVG.selectAll("circle")
      .data(scatterData)
      .enter()
      .append("circle")
      .attr({
        cx: function(d) { 
          return xScale(d[0]);
        },
        cy: function(d) {
          return yScale(d[1]);
        },
        r: function(d) {
          return Math.sqrt(d[1]);
        },
        fill: "#b51f24" 
      })


  </script>

{% endblock %}