{% block content %} 

  <style>

    .axis path,
    .axis line {
      fill: none;
      stroke: #d5d5d5;
      shape-rendering: crispEdges;
    }

    .axis text {
      fill: #d5d5d5;
      font-size: 11px;
    }

    button {
      background: #f5f5f5;
      border: 1px solid #d5d5d5;
      border-radius: 8px;
      box-shadow: none;
      color: #b51f24;
      display: block;
      line-height: 2;
      margin: 1em auto;
      padding: 0 1em;
      width: auto;
    }

    g.arc:nth-child(1) path {
      fill: #c1dbd9;
    }

    g.arc:nth-child(2) path {
      fill: #ced6e2;
    }

    g.arc:nth-child(3) path {
      fill: #aeaeae;
    }

    g.arc:nth-child(4) path {
      fill: #111;
    }

    g.arc:nth-child(5) path {
      fill: #b51f24;
    }

  </style>

  <section class="container frontendconf-pie">  

    <h2>Pie Chart of Front-End Conf Times Attending</h2>
  
  </section>

{% endblock %}

{% block scripts %}

  <script>

   var attendees = [
      {
        "Attended":"This is my first!",
        "Date":"May 31, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"May 9, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"May 9, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"May 8, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Apr 25, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 25, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Apr 25, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 3, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Apr 2, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Apr 1, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 27, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 27, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 27, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 27, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 27, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 27, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 26, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 25, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 24, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 24, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 24, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 22, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 22, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 22, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 22, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 22, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 22, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 21, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 21, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 20, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 19, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 18, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 18, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 18, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 17, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 17, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 16, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 16, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 16, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 16, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 16, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 15, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 14, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 14, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 14, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 14, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 14, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 14, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 13, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 12, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 11, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 11, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 10, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 10, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 10, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 8, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 7, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 7, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 7, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 6, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 6, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 6, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 6, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 6, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 5, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my first!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my second!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my fourth!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"This is my third!",
        "Date":"Mar 4, 2013"
      },
      {
        "Attended":"I've been to them all!",
        "Date":"Mar 3, 2013"
      }
    ];

    // Pie chart of ratio

    var attendedCount = [
      92, 53, 32, 12, 12
    ];

    var color = d3.scale.category10();

    var attendedPie = d3.layout.pie();

    var pieW = 500;
    var pieH = 500;
    var piePadding = 20;

    var outerRadius = pieW / 2;
    var innerRadius = pieW / 2.4; // Probably need a non-magic number
    var arc = d3.svg.arc()
      .innerRadius(innerRadius)
      .outerRadius(outerRadius);

    // Create the SVG
    var pieSVG = d3.select(".frontendconf-pie")
      .append("svg")
      .attr("width", pieW)
      .attr("height", pieH);

    // Create groups
    var pieArcs = pieSVG.selectAll("g.arc")
      .data(attendedPie(attendedCount))
      .enter()
      .append("g")
      .attr("class", "arc")
      .attr("transform", "translate(" + outerRadius + ", " + outerRadius + ")");

    // Draws arcs
    pieArcs.append("path")
      .attr("fill", function(d, i) {
          return color(i);
      })
      .attr("d", arc);

    //Labels
    pieArcs.append("text")
      .attr("transform", function(d) {
        return "translate(" + arc.centroid(d) + ")";
      })
      .attr({
        "text-anchor": "middle",
        fill: "#fff"
      })
      .text(function(d) {
        return d.value;
      });

  </script>

{% endblock %}