{% block content %} 
	
  <h1>Learning some D3, yo.</h1>

  <ul>
    <li><a href="hand-coding-svgs">Hand Coding SVGs</a></li>
    <li><a href="my-first-graph-ever">My First Graph, Ever!</a></li>
    <li><a href="svg-bar-graphs">SVGraphs, yo.</a></li>
    <li><a href="d3-scaling">D3 Scale</a></li>        
  </ul>

{% endblock %}